body {
    margin: 0;
    font-family: sans-serif;
}

nav {
    background-color: rgba(253, 253, 36, 0.322);
    display: flex;
    flex-wrap: wrap-reverse;
}

.child {
    flex: 1 1 auto;
}

button {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

#bee-button {
    flex-grow: 2;
}